body {
	width: 800px;
	margin: 20px auto;
	background: #FFFFFF;
	text-align: center;
}

input, span, ul, li, div {
	border-radius: 10px;
	-moz-border-radius: 18px;
}


#container {
	width: 600px;
	margin: 0px auto;
	text-align: left;
	font: normal 22px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#title{
	float: left;
	width: 290px;
	font-size: 30px;
	margin-bottom: 60px;
}

/* textbox */

#mainTextForm {
	width: 580px;
	margin: 20px 10px;
	vertical-align: baseline;
	border-bottom: 3px dashed #D8D8D8;
}

#mainTextInput {
	margin: 0 auto;
	text-align: center;
	color: #383838;
	width: 500px;
	height: 25px;
	padding: 6px;
	color:  #707070;
	font-size: 28px;
	border: 0px;
	border-radius: 0px;
}

#updateTextForm {
	width: 560px;
	height: 30px;
	padding: 10px 0px 5px 10px;
	margin: 0 auto;
	vertical-align: baseline;
	border-bottom: 3px dashed #D8D8D8;
}

#updateTextInput{
	background: white;
	width: 540px;
	text-align: left;
	font-size: 22px;
	border: 0px;
	text-decoration: none;	
}

/* clearButton */
#clearButton {
	background: #D8D8D8;
	padding-left: 13px;
	padding-top: 2px;
	width: 58px;
	height: 25px;
	float: right;
	position: relative;
	top: -54px;
	display: none;
	cursor: pointer;
	font-size: 18px;
}

/* Info */
#info{
	background: #E8E8E8;
	margin-top: 20px;
	padding: 25px 0px;
	width: 250px;
	height: 45px;
	float: right;
	font-size: 26px;
	display: none;
	text-align: center;
}

/* list */
#lists {
	margin-left: -40px;
}



#lists li{
	width: 580px;
	background: #E8E8E8;
	margin-bottom: 5px;
	padding: 10px;
	list-style: none;
	line-height: normal;
	text-align: left;
}

#lists .active {
/* 	background: #888888; */
}

#lists .delete{
	color: #FF0033;
}

#lists .update{
	margin-right: 10px;
	color: #009900;
}

#lists .ud{
	float:right;
	margin-left: 5px;
}

.update:hover{
	cursor: pointer;
	text-decoration: underline;
}

.delete:hover{
	cursor: pointer;
	text-decoration: underline;
}

/* massiveWeapon/Delete All */
#massiveWeapon{
	background: #E8E8E8;
	margin: 50px auto 5px;
	padding-top: 15px;
	width: 150px;
	height: 30px;
	font-size: 14px;
	color: #FF0033;
	text-align: center;
	display: none;
}

#massiveWeapon:hover{
	cursor: pointer;
}

/* Developer */
#developer{
	display:block;
	font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: fixed;
	bottom: 15px;
	left: 15px;
}

/* githubIcon */
#github {
	width: 96px;
	height: 96px;
	position: fixed;
	font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	bottom: 20px;
	right: 20px;
}

#github a{
	color: black;
	text-decoration: none;
}

#github img{
	border: none;
}